@import url('https://fonts.googleapis.com/css?family=Contrail+One|Noto+Sans');


html {
    font-family: 'Noto Sans', sans-serif;
}

article h2 {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(41, 41, 41);
    padding: 5px;
    font-size: 22px;
    color: white;
}

.head-image {
    width: 200px;
    height: 200px;
}

p a {
    color: rgb(128, 128, 128);
    font-style: italic;
}

p a:hover {
    text-decoration: none;
    color: green;
}

.top-bar {
    background: purple;
    height: 50px;
    /* width: 100%; */
}

.middle-area {
    padding: 15px;
}

nav {
    width: 100%;
}

.search {
    height: 30px;
}

.main-menu ul li, .footer-menu ul li {
    
    padding-right: 12px;
    font-family: 'Contrail One', cursive;
    display: inline;
}

.main-menu ul {
    margin-right: 15%;
}

.main-menu li {
    font-size: 18px;
}


.sidebar {
    background-color: beige;
}

.services {
    background-color: blueviolet;
}

.menu-area {
    background-color: rgb(209, 209, 209);
    text-transform: uppercase;
}

.menu-area a {
    color: rgb(114, 5, 5);
    font-weight: bold;
}

.length-of-container {
    width: 100%;
}

footer {
    background-color: rgb(0, 0, 0);
}

.services, 
footer a {
    color: white;
}

.social-media-icons ul {
    padding: 0;
    margin: 0;
}

.social-media-icons ul li {
    list-style-type: none;
    display: inline;
    margin: 0 5px 0;
}
.menu-area a:hover {
    color: rgb(0, 4, 253);
    text-decoration: none;
}

footer a:hover {
    color: rgb(240, 59, 89);
    text-decoration: none;
} 

/* Sidebar */
.wpcf7 input[type='text'],
.wpcf7 input[type='email'],
.wpcf7 textarea {
    width: 100%;
}


/* Thumbnails */
.wp-post-image {
    float: left;
    margin: 0 15px 10px 0;
}

.blog article {
    display: inline-block;
    width: 100%;
}

/* Header-Logo */

.align {
    display: flex;
    align-items: center;
    width: 100%;
}